* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  min-width: 1400px;
}
.header {
  position: relative;
}
.header .topic {
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  padding-right: 20px;
  line-height: 60px;
  background-color: #cbcbc5;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.header .header-body {
  overflow: hidden;
  position: relative;
  height: 200px;
}
.header-body .logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  height: 180px;
  background: url('../imgs/logo.png') no-repeat center;
  background-size: cover;
}
.header-body .selects {
  display: flex;
  gap: 20px;
  flex-direction: row;
  position: absolute;
  top: 100px;
  right: 30px;
}
.selects .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.selects .icon.shop {
  background: url('../imgs/shop-icon.png') no-repeat center;
  background-size: cover;
}
.selects .icon.menu {
  background: url('../imgs/menu-icon.png') no-repeat center;
  background-size: cover;
}
.header-body .srh {
  margin: 40px auto;
  width: 350px;
  height: 30px;
  background: #d3d3d3;
  border-radius: 15px;
  overflow: hidden;
}
.srh .left {
  float: left;
  width: 30px;
  height: 30px;
  background: url('../imgs/srh-icon.png') no-repeat center;
  background-size: 70%;
}
.srh .inp {
  border: none;
  font-size: 14px;
  line-height: 30px;
  outline: none;
  background: #d3d3d3;
}
.header-body .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 150px;
}
.navbar .item {
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.header .main {
  position: relative;
  height: 640px;
  width: 1200px;
  background: #ab9a93;
  border-radius: 30px;
  margin: 50px auto;
  padding: 20px 30px 50px;
}
.main .img-panel {
  float: left;
  width: 60%;
  height: 100%;
  padding: 20px;
  padding-right: 100px;
  background: lightgray;
  border-radius: 30px;
}
.img-panel .image-board {
  width: 650px;
  height: 370px;
  position: relative;
  background-color: #fff;
}
.img-panel .image-board img#show-img {
  width: 340px;
  height: auto;
  margin: 10px auto;
  display: block;
  border-radius: 30px;
}
.image-board .dots {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.image-board .dots .dot {
  width: 10px;
  height: 10px;
  background: #ccc;
}
.image-board .dots .dot.active {
  background: #000;
}
.img-panel .tips {
  text-align: center;
  line-height: 60px;
}
.img-panel .figs {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.figs .item {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s;
}
.figs .item.sure {
  border: 10px solid #cbb6b1;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  border-radius: 0;
}
.figs .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main .info-panel {
  float: left;
  width: 40%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  padding: 50px 15px;
}
.info-panel .title {
  font-size: 32px;
}
.info-panel .intro {
  font-size: 12px;
  line-height: 30px;
}
.info-panel .review {
  height: 30px;
}
.info-panel .review .stars {
  float: left;
  width: 160px;
  height: 30px;
  background: url('../imgs/star.png') repeat-x center;
}
.info-panel .review p {
  float: left;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.info-panel .price {
  font-size: 22px;
  margin: 15px 0;
}
.info-panel .tips {
  font-weight: bold;
  line-height: 40px;
}
.info-panel .area {
  padding-left: 20px;
  height: 50px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  background-color: #cbb6b1;
}
.info-panel .size-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0 0;
}
.size-wrapper .size {
  width: 23%;
  margin-bottom: 20px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  background: #cbb6b1;
  cursor: pointer;
}
.size-wrapper .size.sure {
  border: 2px solid #cbb6b1;
  box-sizing: border-box;
  color: #ab9a93;
  font-weight: bold;
  background-color: #fff;
}
.info-panel .add-btn {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  background-color: #cbb6b1;
  cursor: pointer;
}
.add-btn,
.buy-btn {
  transition: all 0.6s;
}
.info-panel .buy-btn {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  border: 1px solid #cbb6b1;
  color: #cbb6b1;
  cursor: pointer;
}
.add-btn:hover {
  opacity: 0.8;
  border-radius: 0;
}
.buy-btn:hover {
  opacity: 0.8;
  border-radius: 0;
  background-color: #cbb6b1;
  color: #fff;
}
.info-panel .guide {
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
  line-height: 40px;
}
.main .order-panel {
  display: none;
  z-index: 1;
  position: absolute;
  right: -40px;
  top: -110px;
  width: 450px;
  height: 550px;
  border-radius: 30px;
  background: #dbbfbc;
}
.order-panel .title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  border-radius: 30px;
  background: #f5f5f5;
}
.order-panel .info {
  height: 270px;
  padding: 30px 20px;
}
.info .pic {
  float: left;
  width: 240px;
  margin-right: 25px;
}
.info .pic img {
  width: 100%;
  height: 140px;
  border-radius: 20px;
}
.info .detail {
  float: left;
}
.info .detail .name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.info .detail .type {
  font-size: 16px;
}
.info .detail .tag {
  font-size: 18px;
  margin: 15px 0;
}
.info .detail .price {
  font-size: 22px;
}
.order-panel .op-area {
  background-color: #f5f5f5;
  height: 230px;
  border-radius: 20px;
}
.op-area .top-line {
  height: 50px;
  padding: 10px;
  margin-bottom: 50px;
}
.op-area .top-line .left {
  float: left;
}
.op-area .top-line .right {
  float: right;
  margin-right: 20px;
  text-align: center;
}
.op-area .btn {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background: #cbb6b1;
  margin: 20px auto;
  cursor: pointer;
}
.op-area .btn.cart {
  font-weight: bold;
}
