* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  min-width: 1400px;
}
.header {
  position: relative;
  background: url('../imgs/banner.png') no-repeat center;
  background-size: cover;
  background-position: center 20px;
  height: 1020px;
}
.header .topic {
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  padding-right: 20px;
  line-height: 60px;
  background-color: #cbcbc5;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.header .header-body {
  overflow: hidden;
  position: relative;
}
.header-body .logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  height: 180px;
  background: url('../imgs/logo.png') no-repeat center;
  background-size: cover;
}
.header-body .selects {
  display: flex;
  gap: 20px;
  flex-direction: row;
  position: absolute;
  top: 100px;
  right: 30px;
}
.selects .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.selects .icon.shop {
  background: url('../imgs/shop-icon.png') no-repeat center;
  background-size: cover;
}
.selects .icon.menu {
  background: url('../imgs/menu-icon.png') no-repeat center;
  background-size: cover;
}
.header-body .srh {
  margin: 40px auto;
  width: 350px;
  height: 30px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}
.srh .left {
  float: left;
  width: 30px;
  height: 30px;
  background: url('../imgs/srh-icon.png') no-repeat center;
  background-size: 70%;
}
.srh .inp {
  border: none;
  font-size: 14px;
  line-height: 30px;
  outline: none;
}
.header-body .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 150px;
}
.navbar .item {
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.navbar .item:hover {
  background-color: #333;
  color: #fff;
}
.navbar .item:hover .item-hover-class {
  display: block;
}
.item-hover-class {
  display: none;
}
.item-hover-class > li {
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.item-hover-class > li:hover {
  background-color: rgba(51, 51, 51, 0.1);
}
.content .slogan {
  font-size: 45px;
  text-align: center;
  color: #dfddd4;
  text-shadow: 0px 0px 4px #333;
  font-weight: bold;
  width: 1000px;
  margin: 180px auto 60px;
}
.btn {
  cursor: pointer;
  background-color: #fff;
}
.btn a {
  text-decoration: none;
  /* 去除默认的下划线 */
  outline: none;
  /* 去除旧版浏览器的点击后的外虚线框 */
  color: #000;
  /* 去除默认的颜色和点击后变化的颜色 */
}
.content .btn {
  background-color: #fff;
  width: 250px;
  height: 80px;
  border-radius: 40px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}
#shoes-wrapper {
  position: absolute;
  bottom: -60px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#shoes-wrapper .scroll-content {
  display: block;
  height: 180px;
  overflow-x: scroll;
  overflow-y: hidden;
}
/*滚动条样式*/
.scroll-content::-webkit-scrollbar {
  width: 4px;
  /*height: 4px;*/
}
.scroll-content:-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.scroll-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
#shoes-wrapper .scroll-item {
  padding: 0 25px;
  display: inline-block;
}
#shoes-wrapper .scroll-item img {
  width: 230px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
.main {
  display: flex;
  justify-content: center;
  padding: 240px 100px 40px;
  overflow: hidden;
  background: linear-gradient(to bottom, #8699bd, 10%, white);
}
.main h3 {
  font-size: 32px;
}
.main .col_l,
.main .col_m,
.main .col_r {
  flex: 1;
}
.col_l input {
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  margin: 20px 0;
  height: 30px;
  font-size: 18px;
}
.col_l .signup {
  background-color: #bfaca6;
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
  border-radius: 25px;
}
.col_m .btn-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.btn-list .btn {
  width: 200px;
  height: 60px;
  border-radius: 25px;
  line-height: 60px;
  text-align: center;
  border: 1px solid black;
}
.col_r .link-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}
.link-list a {
  text-decoration: none;
  color: #000;
}
.swiper-slide img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.pngline {
  display: flex;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  flex-grow: 1;
  margin: auto;
}
.pngline .png {
  height: 240px;
  margin: 30px;
  flex-grow: 1;
}
.pngline img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  transition: all 0.6s;
}
.pngline img:hover {
  box-shadow: 0px 0px 4px #ccc;
  transform: scale(1.1);
  border: 6px solid #fff;
  border-radius: 6px;
}
