.login {
  background: #bfbfbf;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding: 0 20px;
  border-radius: 20px;
  font-size: 18px;
}

.input {
  width: 300px;
  margin: 20px auto 0;
}

.input input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  background: #dedede;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav>a>img {
  width: 200px;
}

.nav h4 {
  margin: 0 50px;
}

.nav div {
  position: absolute;
  top: 52px;
  right: 0;
}

.nav div img {
  width: 50px;
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
}

.filter {
  width: 120px;
  height: 40px;
  margin: 15px auto;
  line-height: 40px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 15px;
}

.nav2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nav2 h4 {
  padding: 0 50px;
  height: 100px;
  line-height: 100px;
  background: #bebebe;
  margin: 0 40px;
  border-radius: 5px;
}

.nav3 {
  display: flex;
  margin-top: 50px;
}

.nav3-l {
  width: 200px;
}

.nav3-l h4 {
  height: 60px;
  text-align: center;
}

.nav3-l h2 {
  height: 60px;
  text-align: center;
}

.list img {
  width: 260px;
  margin: 0 50px;
  transition: all 0.6s;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.list img:hover {
  opacity: 0.8;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid #bebebe;
  overflow: hidden;
}

.list {
  position: relative;
}

.red {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #960404;
}